@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Alice";
    font-style: normal;
    src: url(./assets/fonts/alice/Alice-Regular.ttf);
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu-item > ul {
  display: none;
}

.menu-item:hover > ul {
  display: flex;
}
